body {
    margin: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* HERO SECTION */

.main-container {
    background-color: #6943FF;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
}

.main-num {
    border: 1.5px solid white;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #6943FF;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    field-sizing: content;
}

.main-num:focus {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.main-btn {
    display: block;
    margin: 20px auto;
    background-color: white;
    border: 1px solid white;
    padding: 8px 24px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* UNIT DISPLAY SECTION */
.convert-container {
    background-color: #3D3D3D;
    margin: 0 auto;
    padding: 20px;
}

.convert-el {
    background-color: #273549;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    
}

h3 {
    color: #CCC1FF;
    font-weight: 100;
    
}